[Unit]
Description=SMB Password check and change Service
After=network.target smbpwd-daemon.socket
Requires=smbpwd-daemon.socket

[Service]
Type=oneshot
ExecStart=/bin/bash /srv/sbin/smbpwd-daemon.sh
StandardError=journal
StandardInput=socket
StandardOutput=socket
TimeoutStopSec=5
DynamicUser=yes

[Install]
WantedBy=multi-user.target
